@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    list-style: none !important;
    /* outline: 1px solid red; */
    text-decoration: none !important;
    box-sizing: border-box;
}

/* ------------------padding */
.pb-49 {
    padding-bottom: 49px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-21 {
    padding-top: 21px;
}

.pt-65 {
    padding-top: 65px;

}

.pt-45 {
    padding-top: 45px;
}

.pt-66 {
    padding-top: 66px;

}

.pt-15 {
    padding-top: 15px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-39 {
    padding-top: 39px;

}

.pt-28 {
    padding-top: 28px;
}

.pt-11 {
    padding-top: 11px;
}

.pt-18 {
    padding-top: 18px;
}

.pt-44 {
    padding-top: 44px;
}

.pt-37 {
    padding-top: 37px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-176 {
    padding-top: 176px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-29 {
    padding-top: 29px;
}

/* ------------------padding */
/* ------------------margin*/

.ml-15 {
    margin-left: 15px !important;
}

.ml-140 {
    margin-left: -140px !important;
}

.ml-180 {
    margin-left: -185px !important;
}

.ml-65 {
    margin-left: -65px !important;
}

.px-9 {

    margin: 0 9px !important;
}

.ml-40 {
    margin-left: -40px;

}

.mt-32 {
    margin-top: 32px;
}

/* ------------------margin*/
/* ------------------button*/

.pre-btn {
    top: 40%;
    transform: translateY(-50%);
    left: 2%;
}

.next-btn {
    top: 40%;
    transform: translateY(-50%);
    right: 2%;
}

.btn-1 {
    padding: 38px 34px;
    border: 0;
    transition: all 300ms linear;
    background-color: var(--green);
    border: 1px solid transparent;
}

.btn-1:hover {
    color: var(--green) !important;
    background-color: white;
    border: 1px solid var(--green);
}

.btn-2 {
    padding: 15px 27px 15px 27px;
    background-color: var(--green);
    border-radius: 25px;
    transition: all 300ms linear;
}

.btn-2:hover {
    background-color: white;
    color: var(--green) !important;
    box-shadow: 0px 4px 20px 0px var(--green);
}

.btn-3 {
    padding: 15px 27px 15px 27px !important;
    border: 0px;
    transition: all 300ms linear;
}

.btn-3:hover {
    color: var(--green) !important;
    background-color: white;
    box-shadow: 0px 0px 8px 0px var(--green);
}

/* ------------------button */
/* ------------------width*/

.max-w-850 {
    max-width: 850px;
}

.max-w-124 {
    max-width: 124px;
}

.max-w-410 {
    max-width: 410px;
}

.max-w-474 {
    max-width: 474px;
}

.max-w-1140 {
    max-width: 1140px;
}

.max-w-1140 {
    max-width: 1140px;
}

.max-w-364 {
    min-width: 364px;
}

.max-w-150 {
    max-width: 150px;
}

.max-w-161 {
    max-width: 161px;
}

.max-w-309 {
    max-width: 309px;
}

.max-w-448 {
    max-width: 448px;
}

.max-w-342 {
    max-width: 342px;
}

.max-w-548 {
    max-width: 548px;
}

.max-w-948 {
    max-width: 948px;
}

/* ------------------width*/
/* ------------------gap*/

.gap-17 {
    gap: 17px;
}

.gap-9 {
    gap: 9px;

}

/* ------------------gap*/




.border-top {
    border-top: 1px solid #C2C8C0;
}

/* ---------------------font-family */
.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-Libre {
    font-family: "Libre Caslon Text", serif;
}

/* ---------------------font-family */
/* -----------------------background-image*/
.bg-hero-1 {
    background-image: url(../img/hero1.webp);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-hero-2 {
    background-image: url(../img/hero2.webp);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-hero-3 {
    background-image: url(../img/hero3.webp);
    background-position: 100% 100%;
    background-size: cover;
}

.bg-3img {
    background-image: url(../img/Frame30.webp);
    background-position: 100% 100%;
    background-size: cover;
}

.hero-box {
    width: 100%;
    height: 100vh;
}

/* -----------------------background-image*/
/* ------------------card */
.card {
    padding: 41px 14px 26px 24px;
    border: 1px solid var(--card-border);
    background-color: transparent;
    transition: all 300ms linear;
    min-width: 267px;
}

.card:hover {
    background-color: white !important;
}

.card:hover .min-box {
    background-color: var(--green) !important;
}

.min-box svg path {
    transition: all 300ms linear;
}

.card:hover svg path {
    fill: var(--white);
}

.card-2:hover .box-min svg path {
    fill: var(--green);
    stroke: var(--white);
}

/* ------------------card */
/*--------------------- preloader */
.container-preloader {
	align-items:center; cursor:none; display:flex; height:100%;
  justify-content:center; position:fixed; left:0; top:0; width:100%; z-index:900;
  
}
.container-preloader .animation-preloader {
	position:absolute; z-index: 100;}
.container-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;  border: 10px solid #88C701;  
  height: 9em;  margin: 0 auto 3.5em auto; width: 9em;
}

.container-preloader .animation-preloader .txt-loading {
  font: bold 5em 'Montserrat', sans-serif;
	text-align: center;	user-select: none;
}
.container-preloader .animation-preloader .txt-loading .characters:before {
  animation: characters 4s infinite;  color: white;
  content: attr(preloader-text);  left: 0;
  opacity: 0;  position: absolute;  top: 0;
  transform: rotateY(-90deg);
}
.container-preloader .animation-preloader .txt-loading .characters {
	color: #88C701;	position: relative;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(2):before {
  animation-delay: 0.2s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(3):before {
  animation-delay: 0.4s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(4):before {
  animation-delay: 0.6s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(5):before {
  animation-delay: 0.8s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(6):before {
  animation-delay: 1s;
}
.container-preloader .animation-preloader .txt-loading .characters:nth-child(7):before {
  animation-delay: 1.2s;
}
.container-preloader .loader-section {
  background-color: green;  height: 100%;
  position: fixed;  top: 0;  width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
  left: 0;
}
.container-preloader .loader-section.section-right {
  right: 0;
}
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}
@keyframes spinner {
to {
	transform: rotateZ(360deg);
}}
@keyframes characters {
  0%,
  75%,
  100% {
 opacity: 0;
 transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }}
@media screen and (max-width: 767px) {		
	.container-preloader .animation-preloader .spinner {
	height: 8em;
	width: 8em;
	}
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 3.5em 'Montserrat', sans-serif;
	}}
@media screen and (max-width: 500px) {	
	.container-preloader .animation-preloader .spinner {
	height: 7em;
	width: 7em;
	}    
	.container-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Montserrat', sans-serif;
	}}

/*--------------------- preloader */

.footer-gradient {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F8EC 100%);

}

.rounded-10 {
    border-radius: 10px;
}

.rounded-25 {
    border-radius: 25px;
}

.input-box {
    border: 1px solid #0000001A;
    padding: 16px 12px;
}
.input-box:focus {
    box-shadow: 0px 0px 0px 3px #38B0001A;
    border: 1px solid var(--green);
    color: black !important;
}
::placeholder {
    color: #808080;
    opacity: 1;    
}

.min-box {
    width: 58px;
    height: 58px;
    transition: all 500ms linear !important;
}

.max-h-297 {
    max-height: 297px;
}
.max-h-600 {
    max-height: 600px;
}
.max-h-409 {
    max-height: 409px;
}

.min-box-2 {
    width: 44px;
    height: 44px;
}
.opacity-7 {
    opacity: 0.7;
}
.hover-box {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 97.4%);
    transition: all 300ms linear !important;
    border-radius: 10px;
    max-height: 409px;
    height: 100%;
    bottom: -100%;
}

.box-1:hover .box-text {
    bottom: -100%;
}

.box-1:hover .hover-box {
    bottom: 0 !important;
}

.box-text {
    left: 50%;
    bottom: 3%;
    transition: all 600ms linear;
    transform: translateX(-50%);
}

.group11 {
    top: 0;
    right: 0;
}
.group12 {
    bottom: 0;
    left: 0;
}
.duration-300 {
    transition: all 300ms linear;
}
.outline-0 {
    outline: 0;
}
.resize-none {
    resize: none;
}
.form-box {
    border: 6px solid var(--form-border-color);
    padding: 16px 16px 17px 16px;
    border-radius: 16px;
    transform: translateY(-64px);
}
.social-icon:hover {
    transform: translateY(-7px);
}
.underline::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    display: inline-block;
    bottom: -2px;
    right: 0;
    margin: 0 auto;
    left: 0;
    transition: all 300ms linear;
    background-color: #4A4C4A;

}

.underline:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
}

.rounded-16 {
    border-radius: 16px;
}
nav {
    box-shadow: 0px 13px 26px 0px #0000001A;

}
.slick4 {
    padding: 20px 19px 20px 19px;
    border: 1px solid #0000001A;
    max-width: 450px;
}

.bg-img8 {
    background-image: url(../img/Frame30.webp);
    background-position: 100% 100% !important;
    background-size: cover;
    background-repeat: no-repeat;

}

.nav-box {
    top: 0;
    right: 0;
    left: 0;
}

@media(max-width: 992px) {
    .menulist {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 100vh;
        gap: 40px !important;
        z-index: 5;
        transition: all 400ms linear;
    }

    .menulist ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .menulist.active {
        right: 0 !important;
    }

    .hamburger {
        display: block;
        z-index: 6;
    }

    .hamburger.active .bar2 {
        opacity: 0;
        transform: translateX(-10px);
    }

    .hamburger.active .bar1 {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .bar3 {
        transform: translateY(-9px) rotate(-45deg);
    }

    .bar1,
    .bar2,
    .bar3 {
        display: block;
        width: 29px;
        height: 3px;
        margin: 6px auto;
        transition: all 0.3s ease-in-out;
        background-color: var(--green);
    }

    .btn-1 {
        padding: 15px 27px 15px 27px !important;
        background-color: var(--green) !important;
        border-radius: 25px !important;
        transition: all 300ms linear !important;

    }

    .btn-1:hover {
        background-color: white;
        color: var(--green) !important;
        box-shadow: 0px 4px 20px 0px var(--green);
    }
}

@media (max-width:575px) {

    .w-90 {
        width: 90px;
    }

    .w-150 {
        width: 150px;
    }

    .w-20 {
        width: 20px !important;
    }

    .ml-30 {
        margin-left: -30px;
    }
}

@media (min-width:575px) {
    .py-60 {
        padding: 60px 0 !important;
    }

    .pt-sm-60 {
        padding-top: 60px !important;
    }

    .pb-sm-60 {
        padding-bottom: 60px !important;
    }

    .pb-sm-54 {
        padding-bottom: 54px !important;

    }

    .px-sm-26 {
        padding: 0 26px !important;

    }

    .form-box {

        padding: 32px 32px 35px 33px;


    }

    .gap-sm-28 {
        gap: 28px !important;
    }
    .pre-btn {
        top: 50%;
        transform: translateY(-50%);
        left: 2%;
    }
    
    .next-btn {
        top: 50%;
        transform: translateY(-50%);
        right: 2%;
    }

}

@media (min-width:768px) {
    .max-w-md-485 {
        max-width: 485px;
    }

    .max-w-md-489 {

        max-width: 489px;
    }

}

@media (min-width:992px) {
    .py-lg-94 {
        padding: 94px 0 !important;
    }

    .pt-lg-76 {
        padding-top: 76px !important;
    }

    .max-lg-w-267 {
        max-width: 267px !important;
    }

    .pb-lg-76 {
        padding-bottom: 76px !important;
    }

    .pt-lg-124 {
        padding-top: 124px !important;
    }

    .pb-lg-125 {
        padding-bottom: 125px !important;
    }

    .pt-lg-111 {
        padding-top: 111px !important;
    }

    .pb-lg-176 {
        padding-bottom: 176px !important;
    }

    .pt-lg-140 {
        padding-top: 140px !important;
    }

    .absolute-lg {
        position: absolute !important;
    }

    .h-lg-494 {
        height: 494px !important;
    }

    .box-input-lg {
        right: -12px;
        top: 60%;
        transform: translateY(-50%);
    }

    .py-lg-33 {
        padding: 33px 0 !important;
    }

    .max-w-lg-947 {
        max-width: 947px !important;
    }

    .pb-lg-79 {
        padding-bottom: 79px;

    }

    .pt-lg-111 {
        padding-top: 111px !important;
    }
}

@media (min-width:1200px) {
    .gap-xl-41 {
        gap: 41px !important;
    }

    .gap-xl-28 {
        gap: 28px !important;
    }
}












@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

.foo{    
    color: white;
    -webkit-animation: fadein 2s ease-in alternate infinite;
    -moz-animation: fadein 2s ease-in alternate infinite;
    animation: fadein 2s ease-in alternate infinite;
}